TestLinkAutomation.Common/TestLinkAutomation.Common/bin/Debug/Plossum CommandLine.dll
TestLinkAutomation.Common/TestLinkAutomation.Common/bin/Debug/TestLinkAutomation.Common.dll
*.txt
TestLinkAutomation.Common/TestLinkAutomation.Common/obj/Debug/TestLinkAutomation.Common.dll
